<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainLoadController</servlet-name>
        <servlet-class>huytg.main.controller.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoLoadController</servlet-name>
        <servlet-class>huytg.info.controllers.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleLoadController</servlet-name>
        <servlet-class>huytg.schedule.controllers.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServiceLoadController</servlet-name>
        <servlet-class>huytg.postservice.controllers.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseLoadController</servlet-name>
        <servlet-class>huytg.course.controllers.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceLoadController</servlet-name>
        <servlet-class>huytg.service.controller.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLoadController</servlet-name>
        <servlet-class>huytg.employee.controllers.LoadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainLoadController</servlet-name>
        <url-pattern>/MainLoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServiceLoadController</servlet-name>
        <url-pattern>/PostServiceLoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoLoadController</servlet-name>
        <url-pattern>/InfoLoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseLoadController</servlet-name>
        <url-pattern>/CourseLoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceLoadController</servlet-name>
        <url-pattern>/ServiceLoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLoadController</servlet-name>
        <url-pattern>/EmployeeLoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleLoadController</servlet-name>
        <url-pattern>/ScheduleLoadController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainLoadController</welcome-file>
    </welcome-file-list>
</web-app>
